<footer class="border-t border-highlight-color">
    <div class="w-4/5 m-auto mb-4"></div>
    <div class="flex flex-row flex-wrap items-start justify-around text-xs pb-8 z-50 gap-6">    
      <div class="footer__social">
        <h3 class="text-highlight-color text-xl">Get Social</h3>
        <p>Follow our social media and checkout our merch</p>
        <div class="flex gap-6">
          <a href="https://github.com/dmarcosc" target="_blank" rel="nofollow noopener"><i class="fa-brands fa-instagram text-highlight-color"></i></a>
          <a href="https://github.com/dmarcosc" target="_blank" rel="nofollow noopener"><i class="fa-brands fa-facebook text-highlight-color"></i></a>
          <a href="https://github.com/dmarcosc" target="_blank" rel="nofollow noopener"><i class="fa-brands fa-twitter text-highlight-color"></i></a>
        </div>
      </div>
      <div class="footer__contact">
        <h3 class="mb-4 text-xl text-highlight-color">Where to find us</h3>
        <div class="flex flex-col gap-4">
            <span><i class="mr-1 fa fa-building fa-lg"></i>123 Doe Street, Neverland</span>
            <span><i class="mr-1 fa fa-envelope fa-lg"></i>checkmateclub@gmail.com</span>
            <span><i class="mr-1 fa fa-phone fa-lg"></i>+34 666 666 666</span>
        </div>
      </div>
      <div class="footer__newsletter">
        <h3 class="mb-4 text-xl text-highlight-color">Stay updated</h3>
        <input type="text" placeholder="Enter your email">
        <button class="bg-highlight-color">Submit</button>
      </div>
    </div>
  </footer>