<header>
    <nav role="navigation" class="w-full justify-end items-center h-20 fixed flex bg-secondary-color text-highlight-color z-50 ">     
      <a class="cursor-pointer mr-auto" href="index.html" title="Home">
        <img class="h-16 active:scale-20" src="assets/images/pawn.png" alt="home-logo">
      </a>  
      <ul class="nav__container flex items-center flex-row gap-3">
        <li class="cursor-pointer"><a class="link__nav" href="members.html" title="Members">Members</a>
        </li>
        <li class="cursor-pointer"><a class="link__nav" href="" title="Bio">Bio</a>
        </li>
        <li class="cursor-pointer"><a class="link__nav" href="" title="Merch">Merch</a>
        </li>
      </ul> 
    </nav>
</header>